body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%; /* Tornando o container responsivo */
    max-width: 600px; /* Limitando a largura máxima */
}

.header {
    margin-bottom: 20px;
}

.logo img {
    max-width: 100%; /* Fazendo a imagem responsiva */
    height: auto; /* Mantendo a proporção */
    box-shadow: none; /* Removendo sombra anterior */
    border: none; /* Removendo bordas anteriores */
    padding: 0; /* Removendo padding anterior */
}

.additional-image {
    max-width: 100%; /* Fazendo a imagem adicional responsiva */
    height: auto; /* Mantendo a proporção */
}

.message {
    margin-top: 20px;
}

.checkmark img {
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}