.logo-icon-container {
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 70%;
    height: 100px;
    z-index: 1000;
    padding: 10px 20px;
}

.logo {
    position: absolute;
    top: 70px;
    left: 20px;
    transform: translateY(-50%);
}

.login-icon {
    position: absolute;
    top: 90px;
    right: 60px;
    transform: translateY(-50%); 
}

.line {
  width: calc(100% - 180px); /* Largura da tela menos a soma das larguras da logo e do ícone */
    height: 2px; /* Ajuste conforme necessário */
    background-color: #314290; /* Apenas para visualização */
    margin-top: 160px; 
    margin-left: 60px; 
    margin-right: 60px;
}

.logout-button {
  position: absolute;
    top: 90px;
    right: 60px;
    transform: translateY(210%);
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 200px;
    padding-left: 400px;
    padding-right: 400px;
    border-top: 1px solid #314290; */
    
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .link {
    color: #7B7B7B;
  }
  
  .logout-button .button {
    background-color: #5271FF !important; /* Alterado para roxo */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  .button {
    background-color: #5271FF !important;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
    font-size: 18px;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #7B7B7B;
    font-size: 70px;
  }

  /* .circle {
    float: left;
    display: flex;
    width: 200px;
    height: 300px;
    margin-top: 150px;
    background-color: #5271FF;
    shape-outside: circle(50% at 30%);
    clip-path: circle(50% at 0%);
  }

  .circle-2 {
    float: left;
    display: flex;
    width: 200px;
    height: 300px;
    margin-top: 150px;
    background-color: #5271FF;
    clip-path: circle(50% at 100% 50%);
  } */